@import "src/app/tokens.scss";

.feather-icons-check_1-7294 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
}
.vector_1-7295 {
  top: 6px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}
