/* Variables */
$base-color-styles-light-blue-100: #f2f9ff;
$base-color-styles-light-high-contrast-blue-100: #ffffff;
$base-color-styles-light-medium-contrast-blue-100: #ffffff;
$base-color-styles-dark-blue-100: #ffffff;
$base-color-styles-light-blue-200: #e2f1f8;
$base-color-styles-light-high-contrast-blue-200: #ffffff;
$base-color-styles-light-medium-contrast-blue-200: #ffffff;
$base-color-styles-dark-blue-200: #ffffff;
$base-color-styles-light-blue-300: #b2d9ec;
$base-color-styles-light-high-contrast-blue-300: #ffffff;
$base-color-styles-light-medium-contrast-blue-300: #ffffff;
$base-color-styles-dark-blue-300: #ffffff;
$base-color-styles-light-blue-400: #4fafd6;
$base-color-styles-light-high-contrast-blue-400: #ffffff;
$base-color-styles-light-medium-contrast-blue-400: #ffffff;
$base-color-styles-dark-blue-400: #ffffff;
$base-color-styles-light-blue-500: #169cd8;
$base-color-styles-light-high-contrast-blue-500: #ffffff;
$base-color-styles-light-medium-contrast-blue-500: #ffffff;
$base-color-styles-dark-blue-500: #ffffff;
$base-color-styles-light-blue-600: #1a70b3;
$base-color-styles-light-high-contrast-blue-600: #ffffff;
$base-color-styles-light-medium-contrast-blue-600: #ffffff;
$base-color-styles-dark-blue-600: #ffffff;
$base-color-styles-light-blue-700: #115387;
$base-color-styles-light-high-contrast-blue-700: #ffffff;
$base-color-styles-light-medium-contrast-blue-700: #ffffff;
$base-color-styles-dark-blue-700: #ffffff;
$base-color-styles-light-blue-800: #003165;
$base-color-styles-light-high-contrast-blue-800: #ffffff;
$base-color-styles-light-medium-contrast-blue-800: #ffffff;
$base-color-styles-dark-blue-800: #ffffff;
$base-color-styles-light-green-100: #e6f3d8;
$base-color-styles-light-high-contrast-green-100: #ffffff;
$base-color-styles-light-medium-contrast-green-100: #ffffff;
$base-color-styles-dark-green-100: #ffffff;
$base-color-styles-light-green-200: #b0d686;
$base-color-styles-light-high-contrast-green-200: #ffffff;
$base-color-styles-light-medium-contrast-green-200: #ffffff;
$base-color-styles-dark-green-200: #ffffff;
$base-color-styles-light-green-300: #70a300;
$base-color-styles-light-high-contrast-green-300: #ffffff;
$base-color-styles-light-medium-contrast-green-300: #ffffff;
$base-color-styles-dark-green-300: #ffffff;
$base-color-styles-light-green-400: #408411;
$base-color-styles-light-high-contrast-green-400: #ffffff;
$base-color-styles-light-medium-contrast-green-400: #ffffff;
$base-color-styles-dark-green-400: #ffffff;
$base-color-styles-light-green-500: #006447;
$base-color-styles-light-high-contrast-green-500: #ffffff;
$base-color-styles-light-medium-contrast-green-500: #ffffff;
$base-color-styles-dark-green-500: #ffffff;
$base-color-styles-light-neutral-000: #ffffff;
$base-color-styles-light-high-contrast-neutral-000: #ffffff;
$base-color-styles-light-medium-contrast-neutral-000: #ffffff;
$base-color-styles-dark-neutral-000: #ffffff;
$base-color-styles-light-neutral-100: #fcfcfc;
$base-color-styles-light-high-contrast-neutral-100: #ffffff;
$base-color-styles-light-medium-contrast-neutral-100: #ffffff;
$base-color-styles-dark-neutral-100: #ffffff;
$base-color-styles-light-neutral-200: #eeeeee;
$base-color-styles-light-high-contrast-neutral-200: #ffffff;
$base-color-styles-light-medium-contrast-neutral-200: #ffffff;
$base-color-styles-dark-neutral-200: #ffffff;
$base-color-styles-light-neutral-300: #d3d3d3;
$base-color-styles-light-high-contrast-neutral-300: #ffffff;
$base-color-styles-light-medium-contrast-neutral-300: #ffffff;
$base-color-styles-dark-neutral-300: #ffffff;
$base-color-styles-light-neutral-400: #918f8f;
$base-color-styles-light-high-contrast-neutral-400: #ffffff;
$base-color-styles-light-medium-contrast-neutral-400: #ffffff;
$base-color-styles-dark-neutral-400: #ffffff;
$base-color-styles-light-neutral-500: #6c6c6c;
$base-color-styles-light-high-contrast-neutral-500: #ffffff;
$base-color-styles-light-medium-contrast-neutral-500: #ffffff;
$base-color-styles-dark-neutral-500: #ffffff;
$base-color-styles-light-neutral-600: #3a3a3a;
$base-color-styles-light-high-contrast-neutral-600: #ffffff;
$base-color-styles-light-medium-contrast-neutral-600: #ffffff;
$base-color-styles-dark-neutral-600: #ffffff;
$base-color-styles-light-neutral-700: #0a0a0a;
$base-color-styles-light-high-contrast-neutral-700: #ffffff;
$base-color-styles-light-medium-contrast-neutral-700: #ffffff;
$base-color-styles-dark-neutral-700: #ffffff;
$base-color-styles-light-orange-100: #f8efe5;
$base-color-styles-light-high-contrast-orange-100: #ffffff;
$base-color-styles-light-medium-contrast-orange-100: #ffffff;
$base-color-styles-dark-orange-100: #ffffff;
$base-color-styles-light-orange-200: #ebceb3;
$base-color-styles-light-high-contrast-orange-200: #ffffff;
$base-color-styles-light-medium-contrast-orange-200: #ffffff;
$base-color-styles-dark-orange-200: #ffffff;
$base-color-styles-light-orange-300: #c97b33;
$base-color-styles-light-high-contrast-orange-300: #ffffff;
$base-color-styles-light-medium-contrast-orange-300: #ffffff;
$base-color-styles-dark-orange-300: #ffffff;
$base-color-styles-light-orange-400: #bb5902;
$base-color-styles-light-high-contrast-orange-400: #ffffff;
$base-color-styles-light-medium-contrast-orange-400: #ffffff;
$base-color-styles-dark-orange-400: #ffffff;
$base-color-styles-light-orange-500: #a34e15;
$base-color-styles-light-high-contrast-orange-500: #ffffff;
$base-color-styles-light-medium-contrast-orange-500: #ffffff;
$base-color-styles-dark-orange-500: #ffffff;
$base-color-styles-light-red-100: #efd9d9;
$base-color-styles-light-high-contrast-red-100: #ffffff;
$base-color-styles-light-medium-contrast-red-100: #ffffff;
$base-color-styles-dark-red-100: #ffffff;
$base-color-styles-light-red-200: #ab3333;
$base-color-styles-light-high-contrast-red-200: #ffffff;
$base-color-styles-light-medium-contrast-red-200: #ffffff;
$base-color-styles-dark-red-200: #ffffff;
$base-color-styles-light-red-300: #960000;
$base-color-styles-light-high-contrast-red-300: #ffffff;
$base-color-styles-light-medium-contrast-red-300: #ffffff;
$base-color-styles-dark-red-300: #ffffff;
$base-color-styles-light-red-400: #780000;
$base-color-styles-light-high-contrast-red-400: #ffffff;
$base-color-styles-light-medium-contrast-red-400: #ffffff;
$base-color-styles-dark-red-400: #ffffff;
$base-color-styles-light-yellow-100: #fef8ed;
$base-color-styles-light-high-contrast-yellow-100: #ffffff;
$base-color-styles-light-medium-contrast-yellow-100: #ffffff;
$base-color-styles-dark-yellow-100: #ffffff;
$base-color-styles-light-yellow-200: #f1b61b;
$base-color-styles-light-high-contrast-yellow-200: #ffffff;
$base-color-styles-light-medium-contrast-yellow-200: #ffffff;
$base-color-styles-dark-yellow-200: #ffffff;
$base-color-styles-light-yellow-300: #986c10;
$base-color-styles-light-high-contrast-yellow-300: #ffffff;
$base-color-styles-light-medium-contrast-yellow-300: #ffffff;
$base-color-styles-dark-yellow-300: #ffffff;
$collection-1-radius-lg: 12px;
$collection-1-radius-md: 8px;
$collection-1-radius-sm: 4px;
$collection-1-radius-xl: 20px;
$collection-1-radius-xxl: 60px;
$collection-1-spacing-0: 0px;
$collection-1-spacing-1: 4px;
$collection-1-spacing-10: 40px;
$collection-1-spacing-2: 8px;
$collection-1-spacing-3: 12px;
$collection-1-spacing-4: 16px;
$collection-1-spacing-5: 20px;
$collection-1-spacing-8: 32px;
$collection-2-mode-1-number: 0px;
$collection-2-mode-2-number: 0px;
$collection-2-mode-3-number: 0px;
$semantic-color-names-alerts-error-alert-bg-error: $base-color-styles-light-red-100;
$semantic-color-names-alerts-error-alert-border-error: $base-color-styles-light-red-300;
$semantic-color-names-alerts-info-alert-bg-info: $base-color-styles-light-blue-200;
$semantic-color-names-alerts-info-alert-border-info: $base-color-styles-light-blue-700;
$semantic-color-names-alerts-success-alert-bg-success: $base-color-styles-light-green-100;
$semantic-color-names-alerts-success-alert-border-success: $base-color-styles-light-green-500;
$semantic-color-names-alerts-warning-alert-bg-warning: $base-color-styles-light-orange-100;
$semantic-color-names-alerts-warning-alert-border-warning: $base-color-styles-light-orange-400;
$semantic-color-names-backgrounds-bg-disabled: $base-color-styles-light-neutral-200;
$semantic-color-names-backgrounds-bg-error: $base-color-styles-light-red-300;
$semantic-color-names-backgrounds-bg-footer: $base-color-styles-light-neutral-500;
$semantic-color-names-backgrounds-bg-primary: $base-color-styles-light-neutral-100;
$semantic-color-names-backgrounds-bg-quaternary: $base-color-styles-light-neutral-000;
$semantic-color-names-backgrounds-bg-secondary: $base-color-styles-light-blue-100;
$semantic-color-names-backgrounds-bg-selected: $base-color-styles-light-blue-600;
$semantic-color-names-backgrounds-bg-tertiary: $base-color-styles-light-neutral-200;
$semantic-color-names-badges-badge-bg-bronze: $base-color-styles-light-orange-500;
$semantic-color-names-badges-badge-bg-catastrophic: $base-color-styles-light-neutral-700;
$semantic-color-names-badges-badge-bg-current-plan: $base-color-styles-light-green-500;
$semantic-color-names-badges-badge-bg-gold: $base-color-styles-light-yellow-300;
$semantic-color-names-badges-badge-bg-renewal-plan: $base-color-styles-light-blue-700;
$semantic-color-names-badges-badge-bg-silver: $base-color-styles-light-neutral-500;
$semantic-color-names-badges-badge-bg-star-icon: $base-color-styles-light-green-300;
$semantic-color-names-badges-badge-border-star-icon: $base-color-styles-light-green-300;
$semantic-color-names-borders-border-default: $base-color-styles-light-neutral-300;
$semantic-color-names-borders-border-disabled: $base-color-styles-light-neutral-400;
$semantic-color-names-borders-border-error: $base-color-styles-light-red-300;
$semantic-color-names-borders-border-focus-indicator: $base-color-styles-light-neutral-700;
$semantic-color-names-borders-border-heavy: $base-color-styles-light-neutral-700;
$semantic-color-names-buttons-destructive-button-bg-destructive-default: $base-color-styles-light-red-300;
$semantic-color-names-buttons-destructive-button-bg-destructive-hover: $base-color-styles-light-red-200;
$semantic-color-names-buttons-destructive-button-bg-destructive-pressed: $base-color-styles-light-red-400;
$semantic-color-names-buttons-drawer-button-bg-drawer: $base-color-styles-light-green-400;
$semantic-color-names-buttons-primary-button-bg-primary-default: $base-color-styles-light-blue-600;
$semantic-color-names-buttons-primary-button-bg-primary-hover: $base-color-styles-light-blue-800;
$semantic-color-names-buttons-primary-button-bg-primary-pressed: $base-color-styles-light-blue-500;
$semantic-color-names-buttons-secondary-button-bg-secondary-default: $base-color-styles-light-neutral-100;
$semantic-color-names-buttons-secondary-button-bg-secondary-hover: $base-color-styles-light-blue-200;
$semantic-color-names-buttons-secondary-button-bg-secondary-pressed: $base-color-styles-light-blue-300;
$semantic-color-names-buttons-secondary-button-border-secondary: $base-color-styles-light-blue-600;
$semantic-color-names-buttons-secondary-button-content-secondary: $base-color-styles-light-blue-600;
$semantic-color-names-buttons-warning-button-bg-warning-default: $base-color-styles-light-orange-400;
$semantic-color-names-buttons-warning-button-bg-warning-hover: $base-color-styles-light-orange-500;
$semantic-color-names-buttons-warning-button-bg-warning-pressed: $base-color-styles-light-orange-300;
$semantic-color-names-marketing-brand-blue: $base-color-styles-light-blue-600;
$semantic-color-names-marketing-brand-green: $base-color-styles-light-green-500;
$semantic-color-names-marketing-brand-light-blue: $base-color-styles-light-blue-500;
$semantic-color-names-marketing-brand-light-green: $base-color-styles-light-green-300;
$semantic-color-names-marketing-brand-yellow: $base-color-styles-light-yellow-200;
$semantic-color-names-marketing-marketing-blue: $base-color-styles-light-blue-400;
$semantic-color-names-marketing-marketing-orange: $base-color-styles-light-orange-200;
$semantic-color-names-marketing-marketing-yellow: $base-color-styles-light-yellow-100;
$semantic-color-names-text-content-disabled: $base-color-styles-light-neutral-500;
$semantic-color-names-text-content-error: $base-color-styles-light-red-300;
$semantic-color-names-text-content-invert: $base-color-styles-light-neutral-100;
$semantic-color-names-text-content-primary: $base-color-styles-light-neutral-700;
$semantic-color-names-text-content-secondary: $base-color-styles-light-neutral-600;
$semantic-color-names-text-links-link-default: $base-color-styles-light-blue-600;
$semantic-color-names-text-links-link-hover: $base-color-styles-light-blue-800;
$semantic-color-names-text-links-link-pressed: $base-color-styles-light-blue-500;

/* Styles */
$v-2-color-styles-blue-100-background: #f2f9ff;
$v-2-color-styles-blue-100-color: #f2f9ff;
$v-2-color-styles-blue-200-background: #e2f1f8;
$v-2-color-styles-blue-200-color: #e2f1f8;
$v-2-color-styles-blue-300-background: #b2d9ec;
$v-2-color-styles-blue-300-color: #b2d9ec;
$v-2-color-styles-blue-400-background: #4fafd6;
$v-2-color-styles-blue-400-color: #4fafd6;
$v-2-color-styles-blue-500-background: #169cd8;
$v-2-color-styles-blue-500-color: #169cd8;
$v-2-color-styles-blue-600-background: #1a70b3;
$v-2-color-styles-blue-600-color: #1a70b3;
$v-2-color-styles-blue-700-background: #115387;
$v-2-color-styles-blue-700-color: #115387;
$v-2-color-styles-blue-800-background: #003165;
$v-2-color-styles-blue-800-color: #003165;
$v-2-color-styles-neutral-000-background: #ffffff;
$v-2-color-styles-neutral-000-color: #ffffff;
$v-2-color-styles-neutral-100-background: #fcfcfc;
$v-2-color-styles-neutral-100-color: #fcfcfc;
$v-2-color-styles-neutral-200-background: #eeeeee;
$v-2-color-styles-neutral-200-color: #eeeeee;
$v-2-color-styles-neutral-300-background: #d3d3d3;
$v-2-color-styles-neutral-300-color: #d3d3d3;
$v-2-color-styles-neutral-400-background: #918f8f;
$v-2-color-styles-neutral-400-color: #918f8f;
$v-2-color-styles-neutral-500-background: #6c6c6c;
$v-2-color-styles-neutral-500-color: #6c6c6c;
$v-2-color-styles-neutral-600-background: #3a3a3a;
$v-2-color-styles-neutral-600-color: #3a3a3a;
$v-2-color-styles-neutral-700-background: $semantic-color-names-text-content-secondary;
$v-2-color-styles-neutral-700-color: #3a3a3a;
$v-2-color-styles-green-100-background: #e6f3d8;
$v-2-color-styles-green-100-color: #e6f3d8;
$v-2-color-styles-green-200-background: #b0d686;
$v-2-color-styles-green-200-color: #b0d686;
$v-2-color-styles-green-300-background: #70a300;
$v-2-color-styles-green-300-color: #70a300;
$v-2-color-styles-green-400-background: #408411;
$v-2-color-styles-green-400-color: #408411;
$v-2-color-styles-green-500-background: #006447;
$v-2-color-styles-green-500-color: #006447;
$v-2-color-styles-red-100-background: #efd9d9;
$v-2-color-styles-red-100-color: #efd9d9;
$v-2-color-styles-red-200-background: #ab3333;
$v-2-color-styles-red-200-color: #ab3333;
$v-2-color-styles-red-300-background: #960000;
$v-2-color-styles-red-300-color: #960000;
$v-2-color-styles-red-400-background: #780000;
$v-2-color-styles-red-400-color: #780000;
$v-2-color-styles-orange-100-background: #f8efe5;
$v-2-color-styles-orange-100-color: #f8efe5;
$v-2-color-styles-orange-200-background: #ebceb3;
$v-2-color-styles-orange-200-color: #ebceb3;
$v-2-color-styles-orange-300-background: #c97b33;
$v-2-color-styles-orange-300-color: #c97b33;
$v-2-color-styles-orange-400-background: #bb5902;
$v-2-color-styles-orange-400-color: #bb5902;
$v-2-color-styles-orange-500-background: #a34e15;
$v-2-color-styles-orange-500-color: #a34e15;
$v-2-color-styles-yellow-100-background: #fef8ed;
$v-2-color-styles-yellow-100-color: #fef8ed;
$v-2-color-styles-yellow-200-background: #f1b616;
$v-2-color-styles-yellow-200-color: #f1b616;
$v-2-color-styles-yellow-300-background: #bc5a00;
$v-2-color-styles-yellow-300-color: #bc5a00;
@mixin v-2-text-styles-headings-heading-xl-text {
  font-family: PT Sans;
  font-style: Bold;
  font-size: 32px;
  letter-spacing: 0%;
  line-height: 125%;
  text-decoration-line: none;
  text-transform: none;
}
@mixin v-2-text-styles-headings-heading-lg-text {
  font-family: PT Sans;
  font-style: Bold;
  font-size: 26px;
  letter-spacing: 0%;
  line-height: 125%;
  text-decoration-line: none;
  text-transform: none;
}
@mixin v-2-text-styles-headings-heading-md-text {
  font-family: PT Sans;
  font-style: Bold;
  font-size: 20px;
  letter-spacing: 0%;
  line-height: 125%;
  text-decoration-line: none;
  text-transform: none;
}
@mixin v-2-text-styles-headings-heading-sm-text {
  font-family: PT Sans;
  font-style: Bold;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 125%;
  text-decoration-line: none;
  text-transform: none;
}
@mixin v-2-text-styles-body-body-lg-text {
  font-family: PT Sans;
  font-style: Regular;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 150%;
  text-decoration-line: none;
  text-transform: none;
}
@mixin v-2-text-styles-body-body-sm-text {
  font-family: PT Sans;
  font-style: Regular;
  font-size: 14px;
  letter-spacing: 0%;
  line-height: 150%;
  text-decoration-line: none;
  text-transform: none;
}
@mixin v-2-text-styles-body-body-lg-bold-text {
  font-family: PT Sans;
  font-style: Bold;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 150%;
  text-decoration-line: none;
  text-transform: none;
}
@mixin v-2-text-styles-body-body-sm-bold-text {
  font-family: PT Sans;
  font-style: Bold;
  font-size: 14px;
  letter-spacing: 0%;
  line-height: 150%;
  text-decoration-line: none;
  text-transform: none;
}
@mixin v-2-text-styles-body-body-lg-italic-text {
  font-family: PT Sans;
  font-style: Italic;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 150%;
  text-decoration-line: none;
  text-transform: none;
}
@mixin v-2-text-styles-body-body-sm-italic-text {
  font-family: PT Sans;
  font-style: Italic;
  font-size: 14px;
  letter-spacing: 0%;
  line-height: 150%;
  text-decoration-line: none;
  text-transform: none;
}
@mixin v-2-text-styles-button-button-lg-text {
  font-family: PT Sans;
  font-style: Bold;
  font-size: 20px;
  letter-spacing: 0%;
  line-height: 125%;
  text-decoration-line: none;
  text-transform: none;
}
@mixin v-2-text-styles-button-button-sm-text {
  font-family: PT Sans;
  font-style: Bold;
  font-size: 14px;
  letter-spacing: 0%;
  line-height: 125%;
  text-decoration-line: none;
  text-transform: none;
}
@mixin v-2-text-styles-external-links-text-link-lg-text {
  font-family: PT Sans;
  font-style: Regular;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 150%;
  text-decoration-line: underline;
  text-transform: none;
}
@mixin v-2-text-styles-external-links-text-link-sm-text {
  font-family: PT Sans;
  font-style: Regular;
  font-size: 14px;
  letter-spacing: 0%;
  line-height: 150%;
  text-decoration-line: underline;
  text-transform: none;
}
@mixin v-2-text-styles-hover-text-hover-lg-text {
  font-family: PT Sans;
  font-style: Regular;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 150%;
  text-decoration-line: underline;
  text-transform: none;
}
@mixin v-2-text-styles-hover-text-hover-sm-text {
  font-family: PT Sans;
  font-style: Regular;
  font-size: 14px;
  letter-spacing: 0%;
  line-height: 150%;
  text-decoration-line: underline;
  text-transform: none;
}
$c-4-focus-text-shadow: 0px 0px 1px #cc3333;
$c-4-focus-box-shadow: 0px 0px 1px 8px #cc3333;
